.report{
    background-color: white;

}
.table{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    border: 2px;
    border-color: black;
    border-radius: 7px;
}

.cabecera tr th{
    background-color: #84b6f4;
    font-size: x-small;
    border: 2px;
    border-color: black;
    padding: 5px;
}

.cuerpo tr td{
    background-color: #f2ffff;
    font-size: xx-small;
    border-bottom: 1px,black;
    padding: 5px;
}

